/* EventForm.css */
.event-form-container {
    opacity: 0.9; /* Adjust opacity as needed */
    transition: opacity 0.3s ease;
  }
  
  .event-form-container:hover {
    opacity: 1; /* Optional: full opacity on hover */
  }
  .card-header{
    background-color: #3D365C !important;
  }
  .btn-event{
    background-color: #7C4585 ;
    color: aliceblue;
    box-shadow: 0 2px 4px black;
    border-radius: 5px;
    font-weight: 600;
  }
  .btn-event:hover{
    background-color: #9B7EBD;
    color: black;
    border: none;
  }
  .navbar-brand{
    font-weight: 600;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }